/**
 * OpenVoti - Unofficial client for the Argo Scuolanext eDiary
 * Copyright (C) 2017 Claudio Maggioni
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 **/

ion-card-title.sbj {
    margin: 0 .5em !important;
    font-weight: bold;
    font-size: 1em !important;
}

subject {
    ion-card-content {
        padding: .5em !important;

        .sbj-avg {
            text-align: center;

            h5 {
                font-size: 0.9em;
            }
        }
    }

    .sbj-content {
        margin: .5em 0 0 0;

        h4 {
            text-align: center;
            background: #888;
            color: white;
            padding: .15em 0;
            font-size: 1.0em;
            font-weight: bold;
        }
    }

    .sbj-mark {
        text-align: right;
    }
}
