<!--
    OpenVoti - Unofficial client for the Argo Scuolanext eDiary
    Copyright (C) 2017 Claudio Maggioni

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<ion-card class="sbj-head" (click)="toggleExpanded()">
    <ion-card-title class="sbj">
        {{ subject.name }}
    </ion-card-title>
    <ion-card-content>
        <ion-row>
            <ion-col *ngFor="let mType of ['Scritto', 'Orale', 'Pratico']" class="sbj-avg">
                <h5>{{ mType }}</h5>
                <span>{{ getAvg(mType) }}</span>
            </ion-col>
        </ion-row>
    </ion-card-content>
    <div [@expandedChanged]="expanded" class="sbj-content">
        <div *ngFor="let mType of ['Scritti', 'Orali', 'Pratici']">
            <h4>
                {{ mType }}
            </h4>
            <ion-list>
                <ion-row *ngFor="let mark of marks[mType[0].toLowerCase()]">
                    <ion-col class="sbj-date">{{ formatDate(mark.date) }}</ion-col>
                    <ion-col class="sbj-mark">{{ format(mark.value) }}</ion-col>
                </ion-row>
                <ion-row *ngIf="marks[mType[0].toLowerCase()] && marks[mType[0].toLowerCase()].length == 0">
                    <ion-col class="sbj-date">Nessun voto</ion-col>
                </ion-row>
            </ion-list>
        </div>
    </div>
</ion-card>
