<!--
    OpenVoti - Unofficial client for the Argo Scuolanext eDiary
    Copyright (C) 2017 Claudio Maggioni

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Impostazioni</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-title>
            Dati di accesso
        </ion-card-title>
        <ion-card-content>
   <form (ngSubmit)="save()">
      <ion-label>Nome utente</ion-label>
      <ion-item>
        <ion-input type="text" [(ngModel)]="user.username" name="username" placeholder="Nome utente"></ion-input>
      </ion-item>
      <ion-label>Password</ion-label>
      <ion-item>
        <ion-input type="password" [(ngModel)]="user.password" name="password" placeholder="••••••••"></ion-input>
      </ion-item>
      <ion-label>Codice scuola</ion-label>
      <ion-item>
        <ion-input type="text" [(ngModel)]="user.schoolCode" name="schoolCode" placeholder="(es. &quot;SG26426&quot;)"></ion-input>
      </ion-item>
   </form>
        </ion-card-content>
    </ion-card>
   <ion-fab bottom right>
       <button (click)="save()" ion-fab type="submit" block color="secondary">
           <ion-icon name="checkmark"></ion-icon>
       </button>
   </ion-fab>
</ion-content>
